<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">

        <li>
            <a href="/">
                <i class="menu-icon fa fa-globe"></i>
                <span class="menu-text"> مشاهده سایت </span>
            </a>
        </li>

        <!--Dashboard-->
        <li>
            <a asp-action="Index" asp-controller="Home" asp-area="Admin">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>

    </ul>
</div>
