@using ToDoApp.Domain.Model.Account
@model RegisterUserDto

<h1> ثبت نام</h1>

<div>

    <form 
        asp-controller="Account"
    asp-action="Register"
    method="post"> 

    <input type="text" asp-for="PhoneNumber" placeholder="شماره موبایل خود را وارد کنید."/>
    <br />
    <input type="password" asp-for="Password" placeholder="کلمه ی عبور خود را وارد کنید."/>
    <br />

    <input type="submit" value="ثبت" class="btn btn-success"/>

    </form>

</div>