@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <a class="btn btn-success"
       asp-area=""
       asp-controller="Home"
       asp-action="Privacy">
        برای مشاهده ی اطلاعات بیشتر کلیک کنید »»
    </a>

    <hr />

    @if (User.Identity.IsAuthenticated)
    {
        <span class="btn btn-outline-success">خوش آمدید @User.Identity.Name </span>
    }

</div>
